@import '../../scss/Global.scss';

$width: 80%;

.backgroundWrap {
	background-image: url(./background.png);
	background-position: 70%;
	background-size: auto;
	background-repeat: no-repeat;
	height: 100%;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		.formBox {
			margin-top: 100px;
			width: $width;
		}

		.bottomMsg {
			margin-top: 20px;
			color: $black;
			font-size: 14px;
			text-decoration: underline;
			width: $width;
		}
	}
}