@import '../../scss/Global.scss';

.alarmWrap {
	position: relative;
	width: 100%;
	height: 150px;
	padding: 20px 30px;
	color: $black;
	background-color: $skyblue;

	.closeBtn {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 17px;
		margin-right: 25px;
		color: $black;
		font-size: 20px;
		cursor: pointer;
	}

	.description {font-size: 12px;}

	.content {
		position: relative;
		margin-top: 10px;
		margin-bottom: 20px;
		height: 70px;
		cursor: pointer;
		
		h3 {
			font-family: 'NotoSans Medium', sans-serif;
			font-weight: 400;
			font-size: 16px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		.description {
			margin-top: 4px;
			font-size: 12px;
			overflow: hidden;
			line-height: 14px;
			height: 28px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.date {
			position: absolute;
			bottom: 0;

			.dday {
				display: inline-block;
				font-size: 10px; 
				color: $pink;
				margin-right: 5px;
			}

			.expire {
				display: inline-block; 
				font-size: 10px; 
				color: $blue;
			}
		}
		
	}
}