@import '../../scss/Global.scss';

.container {
	margin-bottom: 15px;

	.inputBox {
		width: 100%;
		padding: 8px 12px;
		height: 50px;
		box-sizing: border-box;
		border: 1px solid $blue;
		border-radius: 50px;
		font-family: 'NotoSans Regular', sans-serif;
		font-size: 16px;
		color: $black;
		background: rgba($white, 0.3);
		vertical-align: middle;
		transition: border 0.2s ease;

		&:focus {
			border: 1px solid $skyblue;
			outline: 0;
		}

		&::placeholder{
			color: $blue;
		}
		&:-ms-input-placeholder {
			color: $blue;
		}
	}
}