@import '../../scss/Global.scss';

.categoryWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.category {
		display: flex;
		align-items: center;
		font-family: 'NotoSans Medium', sans-serif;
		font-size: 12px;
		color: $black;
	}

	.float {

		.btn {
			margin-left: 10px;
			font-size: 14px;
			color: $black;
			cursor: pointer;

			&.delete { color: $blue; }
		}
	}
}

.title {
	font-family: 'NotoSans Medium', sans-serif;
	font-size: 24px;
	font-weight: 400;
	margin-top: 15px;
}

.content {
	margin-top: 20px;
	font-size: 14px;
	color: $blue;
	line-height: 1.4;
}

.previewWrap {
	margin-top: 30px;
}

.storeWrap {
	padding-top: 40px;

	.section {
		padding: 0 5px;
		display: flex;
		align-items: center;
		color: $apricot;
		font-size: 24px;

		span {
			padding-left: 2px;
			font-size: 18px;
			font-family: 'NotoSans Medium', sans-serif;
		}
	}

	.endLine {
		margin-top: 60px;
		text-align: right;
		font-family: 'NotoSans Medium', sans-serif;
		font-size: 12px;
		color: $black;
	}
}

