@import '../../scss/Global.scss';

.container {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50px;
	font-family: 'NotoSans Medium', sans-serif;
	font-size: 18px;
	cursor: pointer;

	&.color {
		&-blue {
			border: 1px solid $blue;
			color: $white;
			background-color: $blue;
		}
	}

	&.color {
		&-skyblue {
			border: 1px solid $skyblue;
			color: $black;
			background-color: $skyblue;
		}
	}

	&.color {
		&-pink {
			border: 1px solid $pink;
			color: $white;
			background-color: $pink;
		}
	}

	&.color {
		&-apricot {
			border: 1px solid $apricot;
			color: $black;
			background-color: $apricot;
		}
	}
}