@import '../../scss/Global.scss';

.filterContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;

	.iconBox {
		display: flex;
    align-items: center;
    justify-content: center;
		width: 32px;
		height: 32px;
		color: $white;
		background-color: $blue;
		border: 1px solid $blue;
		border-radius: 3px;
		margin-right: 10px;
	}
}

.contentContainer {
	height: calc(100% - 65px - 32px);

	.contentWrap {
		height: calc(100% - 19px - 15px);

		.loading {
			height: 100px;
		}
	}
}