@import '../../scss/Global.scss';

.starBox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1px 2px;
	border-radius: 50px;
	font-size: 12px;
	background-color: $pink;
	color: $white;
}