@import '../../scss/Global.scss';

.container {

	.checkBoxWrap {
		float: left;
		margin-right: 10px;
		margin-bottom: -15px;
	}

	.headWrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		cursor: pointer;

		.left {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			.date {
				display: inline-block;
				color: $blue;
				font-size: 12px;
				margin-right: 4px;
			}
		}
	}

	.title {
		font-family: 'NotoSans Medium', sans-serif;
		font-size: 18px;
		cursor: pointer;
	}

	.description {
		margin-top: 8px;
    font-size: 14px;
    overflow: hidden;
    line-height: 16px;
    height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
		cursor: pointer;
	}

	.previewBox {
		margin-top: 15px;
	}

	.secretBox {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		background-color: $white;
		color: $blue;
		border-radius: 4px;
		// box-shadow: 0 0.3em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
	}
}