@import '../../scss/Global.scss';

$offset: 187;
$duration: 1.4s;
$size: 45px;

.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&.bgColor-white { background-color: $white; }
	&.bgColor-inner { background-color: $inner; }

	.spinner {
		width: $size;
		height: $size;
		animation: rotator $duration linear infinite;
	}
	
	@keyframes rotator {
		0% {
			transform: rotate(0deg);
		}
	
		100% {
			transform: rotate(270deg);
		}
	}
	
	.path {
		stroke-dasharray: $offset;
		stroke-dashoffset: 0;
		transform-origin: center;
		animation:
			dash $duration ease-in-out infinite,
			colors ($duration*4) ease-in-out infinite;
	}
	
	@keyframes colors {
		0% {
			stroke: $blue;
		}
	
		25% {
			stroke: $pink;
		}
	
		50% {
			stroke: $apricot;
		}
	
		75% {
			stroke: $pink;
		}
	
		100% {
			stroke: $blue;
		}
	}
	
	@keyframes dash {
		0% {
			stroke-dashoffset: $offset;
		}
	
		50% {
			stroke-dashoffset: $offset/4;
			transform: rotate(135deg);
		}
	
		100% {
			stroke-dashoffset: $offset;
			transform: rotate(450deg);
		}
	}
}
