@import '../../scss/Global.scss';

.wrap {
	display: flex;
	flex-direction: column;
	height: calc(100% - 110px);
	width: 100%;
	background-color: $inner;
	color: $black;
	padding: 40px 20px;
	word-break: break-word;
	overflow: hidden;

	.menuTitle {
		position: relative;
		top: 5px;
	}

	.container {
		position: relative;
		flex: 1;
		margin-left: -20px;
		width: calc(100% + 40px);

		.mapWrap {
			width: 100%;
			height: calc(100% + 155px);
			margin-top: -110px;
		}
		
		.searchWrap {
			position: absolute;
			top: 5px;
			left: 25px;
			width: calc(100% - 50px);
			z-index: 200;
			border-radius: 50px;
			height: 49px;
			background: rgba(243, 249, 251, 0.8);
		}

		.contentWrap {
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 170px;
			bottom: -45px;
			z-index: 220;
			border-top-left-radius: 40px;
			border-top-right-radius: 40px;
			background-color: $white;
			transition: all 0.4s ease;

			.top {
				width: 100%;
				padding-bottom: 10px;
				cursor: pointer;

				.separator {
					border: 2px solid $blue;
					width: 40px;
					background-color: $blue;
					opacity: 0.8;
					border-radius: 50px;
					margin: 0 auto;
					margin-top: 15px;
				}
			}

			.contentBox {
				padding: 10px 30px;
				overflow-y: scroll;
				height: 100%;

				.storeCardWrap {
					border-radius: 2px;
    			overflow: hidden;
					margin-bottom: 20px;
				}

				.separator {
					border: none;
					border-top: 1px solid $blue;
					margin: 30px 0;
				}

				.category {
					display: inline-flex;
					align-items: center;
					font-family: 'NotoSans Medium', sans-serif;
					font-size: 12px;
					color: $black;
				}
			
				.title {
					font-family: 'NotoSans Medium', sans-serif;
					font-size: 24px;
					font-weight: 400;
					margin-top: 15px;
				}
				
				.content {
					margin-top: 20px;
					font-size: 14px;
					color: $blue;
					line-height: 1.4;
				}
				
				.previewWrap {
					margin-top: 30px;
				}		
				
				.endLine {
					margin-top: 40px;
					margin-bottom: 10px;
					text-align: right;
					font-family: 'NotoSans Medium', sans-serif;
					font-size: 12px;
					color: $black;
				}
			}

			&.overlay {
				height: 622px;
			}

			&.hide {
				display: none;
			}
		}
	}

	.customoverlay {
		border: 0;
		box-shadow: 0px 1px 2px #888;   
		position: relative;
		bottom: 38px;
    left: 2px;
		border-radius: 6px;
		float: left;
		cursor: pointer;
		
		div {
			display: block;
			text-decoration: none;
			text-align: center;
			border-radius: 6px;
			font-weight: bold;
			overflow: hidden;		
			color: $white;
			font-size: 12px;
			background: $blue url(./arrow_white.png) no-repeat right 12px center;
			
			span {
				display: block;
				text-align: center;
				background: #fff;
				padding: 8px 14px;
				font-size: 12px;
				font-weight: bold;
				margin-right: 35px;
				color: $black;
				font-family: 'NotoSans Regular', sans-serif;
				white-space: nowrap;
			}
		}

		&::after {
			content: '';
			position: absolute;
			left: calc(50% - 11px);
			bottom: -11px;
			width: 22px;
			height: 12px;
			background: url(./vertex_white.png);
		}
	}
}