@import '../../scss/Global.scss';

.button {
	border: none;
	outline: none;
	background-color: $inner;
	padding: 5px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 0 5px;
	cursor: pointer;

	&.active {
		background-color: $blue;
	}
}