@import '../../scss/Global.scss';

$size: 94px;

.container {
	border-radius: 4px;
	overflow: hidden;
	box-shadow: -1px 3px 15px 0 rgba(0,0,0,.06);

	.wrap {
		display: flex;
		align-items: center;
		&.view-list { flex-direction: row; }
		&.view-album { flex-direction: column; }

		.imgBox {
			&-list { 
				width: $size; 
				min-width: $size;
				height: $size; 
				object-fit: cover;
			}
			&-album { 
				width: 100%;
				height: 245px;
				object-fit: cover;
			}
		}
	
		.contentBox {
			width: 100%;
			padding: 20px;
			background-color: $white;
			color: $black;
	
			.title {
				font-family: 'NotoSans Medium', sans-serif;
				line-height: 17px;
				height: 18px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}
	
			.description {
				margin-top: 2px;
				font-size: 14px;
				line-height: 17px;
				height: 34px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
}