@import '../../scss/Global.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding: 5px;
	border: 1px solid $blue;
	border-radius: 2px;
	color: $blue;
	margin-right: 10px;
	transition: all 0.2s ease;
	cursor: pointer;

	&.checked {
		background-color: $blue;
		color: $white;
	}

	&:last-child {
		margin-right: unset;
	}
}