@import '../../scss/Global.scss';

$markSize: 100px;
$subTitleSize: 95px;

.postHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0 20px;
	background-color: $blue;
	color: $white;
}

.postContent {
	height: calc(100% - 90px);
	margin-top: 10px;
	padding: 20px;
	word-break: break-word;

	.line {
		margin: -10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		&.contentHeight {
			height: calc(100% - 330px);
			min-height: 220px;
		}
		
		.title {
			width: 100%;
			height: 30px;
			box-sizing: border-box;
			border: none;
			font-family: 'NotoSans Medium', sans-serif;
			font-size: 20px;
			color: $black;
			vertical-align: middle;
			transition: border 0.2s ease;
	
			&:focus {
				outline: 0;
			}
	
			&::placeholder {
				color: $blue;
			}
			&:-ms-input-placeholder {
				color: $blue;
			}
		}

		.url {
			width: calc(100% - #{$markSize});
			height: 30px;
			box-sizing: border-box;
			border: none;
			font-family: 'NotoSans Regular', sans-serif;
			font-size: 16px;
			color: $black;
			vertical-align: middle;
			transition: border 0.2s ease;
	
			&:focus {
				outline: 0;
			}
	
			&::placeholder {
				color: $blue;
			}
			&:-ms-input-placeholder {
				color: $blue;
			}
		}

		.markBox {
			width: $markSize;
			text-align: right;
			margin-bottom: -15px;
		}

		.content {
			width: 100% !important;
			height: 100% !important;
			box-sizing: border-box;
			border: none;
			font-family: 'NotoSans Regular', sans-serif;
			font-size: 16px;
			color: $black;
			transition: border 0.2s ease;
			resize: none;
			overflow-y: auto;

			&:focus {
				outline: 0;
			}
	
			&::placeholder {
				color: $blue;
			}
			&:-ms-input-placeholder {
				color: $blue;
			}
		}

		.subTitle {
			width: $subTitleSize;
			font-family: 'NotoSans Medium', sans-serif;
			font-size: 16px;
			color: $black;
			margin: 5px 0;
		}

		.subContent {
			width: calc(100% - #{$subTitleSize});
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.categorySetting {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 30px;
				text-align: right;
				border: 1px solid $pink;
				border-radius: 4px;
				background-color: $pink;
				margin-left: 10px;
				color: $white;
				cursor: pointer;
			}

			.date {
				color: $black;
				cursor: pointer;
			}
		}
	}
}

.customCalendar {
	border: none;
	font-family: 'NotoSans Medium', sans-serif;
	color: $black;
	background-color: $inner;
}