@import '../../scss/Global.scss';

.container {
  width: 100%;
	max-width: 500px !important;
	// margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
	position: fixed;
	overflow: hidden;
	z-index: 7000;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	top: 0;
	right: 0;
	bottom: 0;
	// left: 0;

	transition: all 0.2s ease-in;

	.background {
		width: 100%;
		height: 100%;
		background: linear-gradient(45deg, #6a85b6 0%, #bac8e0 100%);
		opacity: 0.2;
	}

	.contentBox {
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		overflow-y: scroll;
		padding: 20px 20px 0 20px;
		background-color: $inner;
		color: $black;
		border-radius: 0.1875rem;

    &::after {
      content:'';
      display:block;
      padding-bottom: 20px;
    }
	}
}