@import '../../scss/Global.scss';

$height: 324px;

.container {
	position: relative;
	width: 100%;
	height: 110px;
	padding: 20px;
	background-color: $black;
	display: flex;
	justify-content: space-between;
	align-items: center;

	img { width: 39px; }

	.menuBox {
		position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin-right: 20px;
		cursor: pointer;
		color: $white;

		&.open {
			background: $apricot;
		}
	}

	.navContainer {
		z-index: 500;
		position: absolute;
		right: 20px;
		width: calc(100% - 40px);
		top: 100%;
		visibility: hidden;
		overflow: hidden;

		.menu {
			transform: translateY(-$height);
			transition: transform 400ms ease 0s, 
									visibility 400ms ease 0s;

			li {
				display: flex;
				align-items: center;
				width: 100%;
				padding: 20px;
				background: $apricot;
				color: $blue;
				border: 5px solid $apricot;

				span { margin-left: 15px;}
			}

			&.open {
				transform: translateY(0px);
			}
		}

		&.open {
			visibility: visible;
		}
	}
}