@import '../../scss/Global.scss';

.headWrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 15px;

	.viewMode {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		color: $blue;
		background-color: $apricot;
		border: 1px solid $apricot;
		border-radius: 2px;
		margin-left: 10px;
		font-size: 20px;
		cursor: pointer;
	}

	.count { color: $black; }
}
