@import '../../scss/Global.scss';

.openMark {
	.title {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.icon {
			color: $apricot;
			font-size: 18px;
			margin-top: 4px;
		}

		p {
			margin-left: 5px;
			font-size: 15px;
			color: $black;
		}
	}

	.content {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		.item {
			margin-left: 10px;
			margin-bottom: 15px;
			p {
				font-size: 14px;
				color: $black;
			}
		}
	}

	.btn {
		border: 1px solid $skyblue;
		border-radius: 4px;
    color: $black;
		background-color: $skyblue;
		width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'NotoSans Medium', sans-serif;
    font-size: 14px;
    cursor: pointer;
	}
}