@import '../../scss/Global.scss';

$size: 18px;

.chkWrap {
	display: inline-flex;
	align-items: center;
	margin-bottom: 15px;
	cursor: pointer;

	.checkBox {
		width: $size;
		height: $size;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $blue;
		border-radius: 2px;
		transition: all 0.2s ease;
	
		&.checked {
			background-color: $blue;
		}

		.checkIcon {
			visibility: hidden;
			color: $white;
			font-size: 14px;

			&.checked {
				visibility: visible;
			}
		}
	}

	.label {
		margin-left: 8px;
		color: $black;
	}
}
