@import '../../scss/Global.scss';

.searchWrap {
	display: flex;
	flex-direction: column;
	align-items: center;

	.container {
		display: flex;
		width: calc(100% + 2px);

		&:focus-within {
			.iconWrap .iconBox {
				border: 1px solid $skyblue;
				border-left: none;
				outline: 0;
				color: $skyblue;
			}
		}

		.iconWrap {
			overflow: hidden;
			height: 50px;
			
			.iconBox {
				height: 100%;
				width: 50px;
				transform: translateX(-1px);
				border: 1px solid $blue;
				border-left: none;
				border-radius: 50px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				background: rgba($white, 0.3);
				margin-bottom: 15px;
				padding: 10px 12px;
				font-size: 16px;
				color: $blue;
				transition: border 0.2s ease;
			}
		}
	}

	.list {
		width: 100%;
		background-color: $inner;
		border: 1px solid $apricot;
		border-radius: 12px;
    max-height: 240px;
    overflow-y: scroll;
		margin-top: -10px;

		.item {
			padding: 10px 0 9px 0;
			margin: 0 10px;
			border-bottom: 1px solid $white;
			cursor: pointer;

			&:hover {
				background-color: $white;
			}
			&:first-child {margin-top: 5px;}
			&:last-child {
				margin-bottom: 5px;
				border-bottom: none;
			}
		}
	}
}

.customInput {
	border-right: none !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}