@import '../../scss/Global.scss';

$iconWidth: 30px;
$circleSize: 18px;
$activeSize: 10px;

.container {
  width: 100%;
  height: 30px;
  border: 1px solid $blue;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  cursor: pointer;
  
  p {
    width: calc(100% - #{$iconWidth});
    color: $black;
    white-space: nowrap;
    overflow: hidden;
  }

  .iconBox {    
    width: $iconWidth;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
  }
}


.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
  cursor: pointer;

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $circleSize;
    height: $circleSize;
    border: 1px solid $blue;
    border-radius: 50px;

    .active {
      width: $activeSize;
      height: $activeSize;
      border: 1px solid $blue;
      border-radius: 50px;
      background-color: $blue;
    }
  }
}

.hr {
  &:last-child { display: none; }
}
