@import '../../scss/Global.scss';

.container {
	position: relative;
	display: flex;
	padding: 20px;
	background-color: $inner;
	// border-radius: 4px;
	// box-shadow: 0 0.3em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
	border-bottom: 1px solid $white;

	.contentBox {
		width: calc(100% - 120px);
		color: $black;

		.title {
			color: $black;
			font-family: 'NotoSans Bold', sans-serif;
			font-size: 14px;
			line-height: 16px;
    	height: 18px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		.description {
			color: $blue;
			margin-top: 2px;
			font-size: 12px;
			line-height: 16px;
    	height: 34px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.link {			
			color: $pink;
			font-size: 10px;
		}
	}

	.imgBox {
		position: absolute;
		right: 0;
		margin-right: 10px;
    width: 100%;
    max-width: 120px;
		border-radius: 4px;
		// box-shadow: 0 0.3em 1em -0.35em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
	}
}