/*********************************
* font
*********************************/

@font-face {
font-family: 'NotoSans Black';
src:  url("/assets/fonts/NotoSansKR-Black.otf") format("opentype");
}

@font-face {
font-family: 'NotoSans Bold';
src:  url("/assets/fonts/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
font-family: 'NotoSans Medium';
src:  url("/assets/fonts/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
font-family: 'NotoSans Regular';
src:  url("/assets/fonts/NotoSansKR-Regular.otf") format("opentype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: 'NotoSans Regular', sans-serif;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	box-sizing: border-box;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	background-color: #F3F9FB;
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

#root {
	height: 100%;
	max-width: 500px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
