/*********************************
 * Size
 *********************************/
$headerHeight: 84px;
$mobileHeaderHeight: 84px;


/*********************************
 * Colors
 *********************************/
$black: #464D54;
$white: #F3F9FB;
$blue: #96A4AC;
$skyblue: #E9F6F6;
$pink: #E2D4DE;
$apricot: #F1E8E7;
$inner: #FFFFFF;

 
/*********************************
 * Container
 *********************************/
$newMainWrapWidth: 1177px;
$mainWrapWidth: $newMainWrapWidth;
@media all and (min-width: 1215px) { $mainWrapWidth: 960px; }