@import '../../scss/Global.scss';

.container {

	.title {
		font-family: 'NotoSans Medium', sans-serif;
		// font-size: 18px;
		font-weight: 400;
		color: $black;
	}
}

.categoryList {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $black;
	padding: 10px 4px;
	margin-top: 5px;
  cursor: pointer;

	&.active { background-color: $apricot; }

	.iconContainer {
		color: $black;
		font-size: 16px;
		opacity: 0.6;
	}
}

.editLine {
	width: calc(100% - 60px);
	padding: 0 2px;
	height: 19px;
	box-sizing: border-box;
	border: 1px solid $blue;
	border-radius: 2px;
	font-family: 'NotoSans Regular', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: $black;
	background: rgba($white, 0.3);
	vertical-align: middle;
	transition: border 0.2s ease;

	&:focus {
		border: 1px solid $blue;
		outline: 0;
	}

	&::placeholder {
		color: $blue;
	}
}

.addLine {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $black;
	margin-bottom: 8px;

	input {
		width: calc(100% - 40px);
		padding: 4px 2px;		
		box-sizing: border-box;
		border: 1px solid $blue;
		border-radius: 2px;
		font-family: 'NotoSans Regular', sans-serif;
		font-size: 16px;
		line-height: 1.2;
		color: $black;
		background: rgba($white, 0.3);
		vertical-align: middle;
		transition: border 0.2s ease;
	
		&:focus {
			border: 1px solid $blue;
			outline: 0;
		}
	
		&::placeholder {
			color: $blue;
		}
	}
}