@import '../../scss/Global.scss';

.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.headWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: -15px;

	.btnBox {
		display: inline-flex;
		align-items: center;		

		.delete {
			font-family: 'NotoSans Medium', sans-serif;
			color: $blue;
			margin-right: 10px;
			margin-bottom: 15px;
			font-size: 14px;
			cursor: pointer;
		}

		.restore {
			font-family: 'NotoSans Medium', sans-serif;
			color: $black;
			font-size: 14px;
		}
	}
}

.contentWrap {

	&.wide {
		height: calc(100% - 54px - 31px - 20px);
	}

	.loading {
		height: 100px;
	}
}