@import '../../scss/Global.scss';

$size: 65px;

.container {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 500px;
	text-align: right;
	margin-left: -10px;

	.iconBox {
		margin-bottom: 25px;
		margin-right: 25px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: $size;
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0,0,0,.12);
		width: $size;
		height: $size;
		fill: currentColor;
		user-select: none;
		transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),opacity 15ms linear 30ms,transform 270ms 0ms cubic-bezier(0, 0, 0.2, 1);
		background-color: $pink;
    color: $white;
	}
}