@import '../../scss/Global.scss';

.titleWrap {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	color: $black;
	background-color: $skyblue;
	margin-left: -20px;
	margin-top: -20px;
	padding: 15px 20px;
	width: 80%;
	z-index: 205;

	.icon {
		display: inline-block;
		vertical-align: middle;
	}

	.title {
		display: inline-block;
		vertical-align: middle;
		font-family: 'NotoSans Bold', sans-serif;
		font-weight: 400;
		font-size: 20px;
		margin-left: 5px;
	}

	&:after {
		position: absolute;
    content: '';
    background: $skyblue;
    color: black;
    transition: all 0.5s;
    right: -28px;
    width: 57px;
    height: 57px;
    transform: scale(0.707) rotate(45deg);
    border-radius: 0 2px 0 0;
		top: 0;
	}

	&.pink {
		background-color: $pink;
		&:after { background: $pink; }
	}
}